<article class="blog-post">
  <h2 class="display-5 link-body-emphasis mb-1"><%= article.title%></h2>
  <p class="blog-post-meta">
  <%= render 'article_detail', article: article %>
  </p> <!--aula 10 e 16-->
  
  <p><%= truncate(article.body, length: 150)%></p> <!--truncate limita a qtd de caracter que vai aparecer com o length-->

  <p><%= link_to t('articles.continue_reading'), article, class: 'btn btn-link' %></p>

  <%= link_to 'Edit', edit_article_path(article), 
    class: 'btn btn-primary' if policy(article).update? %> <!--É sem o @ porque é um helper-->
  
  <%= link_to 'Destroy', article_path(article),
        data: 
        {   turbo_method: :delete,
            turbo_confirm: 'Are you sure'},
            class:'btn btn-danger' if policy(article).destroy? %>  <!--Comentários da aula 8-->
</article>
