<!DOCTYPE html>
<html>
  <head>
    <title>Blogstrap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!--%= stylesheet_pack_tag "application", media: 'all', "data-turbo-track": "reload" % aula 9 com erro --> <!--https://stackoverflow.com/questions/75639978/rails-7-error-undefined-method-javascript-pack-tag-for-actionviewbase0x0-->
    <!-- Custom styles for this template -aula 10-->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    
    <%= javascript_importmap_tags %>
    
        
  </head>

  <body>
  
    <%= render 'layouts/topnavbar'%>

    <main class="container">
      <%= render 'layouts/flash_messages'%>
      <%= yield %>  <!-- onde o ruby on rails preenche com codigo das telas (views)-->
    </main>

    <%=render 'layouts/footer'%>
  </body>
</html>
