<!DOCTYPE html>
<html>
  <head>
    <title>Blogstrap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!--%= stylesheet_pack_tag "application", media: 'all', "data-turbo-track": "reload" % aula 9 com erro --> <!--https://stackoverflow.com/questions/75639978/rails-7-error-undefined-method-javascript-pack-tag-for-actionviewbase0x0-->
    <%= javascript_importmap_tags %>
    
        
  </head>

  <body>
  
    <%= render 'layouts/topnavbar'%>

    <%= yield %>  <!-- onde o ruby on rails preenche com codigo das telas (views)-->
    
    <%=render 'layouts/footer'%>
  </body>
</html>
